	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/12/2018 08:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-coin:before { content: "\f100"; }
.flaticon-rent:before { content: "\f101"; }
.flaticon-new:before { content: "\f102"; }
.flaticon-sold:before { content: "\f103"; }
.flaticon-bathtub:before { content: "\f104"; }
.flaticon-house:before { content: "\f105"; }
.flaticon-house-1:before { content: "\f106"; }
.flaticon-location:before { content: "\f107"; }
.flaticon-flat:before { content: "\f108"; }
.flaticon-camera:before { content: "\f109"; }